@import "header.css";
@import "conteudo.css";
@import "anuncio.css";
@import "assista.css";
@import "perguntas.css";
@import "footer.css";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
